# Logs
logs
*.log
npm-debug.log
yarn-debug.log
yarn-error.log
firebase-debug.log
firebase-debug.*.log
tsconfig.tsbuildinfo

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

#build
dist
dist-es
dist-cjs
dist-types
build
.build
generated
output

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# next.js
.next/
out/

# environment variables
.env*.local
.env
.aws/

# turborepo
.turbo

*.csv
package-lock.json

# graphql
schema.graphql

# Serverless directories
.serverless
.esbuild

# pnpm
pnpm-lock.yaml

# VSCode history
.history

# Ignore generated config.ts in backoffice
packages/backoffice/src/config.ts

# Ignore generated index.ts in routes
packages/routes/src/index.ts

# CDK
cdk.out/

CHANGELOG.md

# Ignore generated cdk.out in app
cdk.out

.github/CODEOWNERS